rm -f netlify.toml
cat > netlify.toml <<'TOML'
[edge_functions]
directory = "netlify/edge-functions"

[[edge_functions]]
function = "protect"
path = "/"

[[edge_functions]]
function = "protect"
path = "/tools/*"

[[edge_functions]]
function = "protect"
path = "/__logout"

[[edge_functions]]
function = "fetch-metadata"
path = "/api/fetch-metadata"
TOML
